.container__sb {
  height: 20vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 42px;
  color: #ff0076;
}

input {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 2rem;
  padding-left: 20px;
  width: 800px;
  border-radius: 12px;
}

.Cerca__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cerca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -ms-flex-align: center;
  padding: auto;
  color: #ff0076;
  border-radius: 12px;
  background-color: #fff;
  width: 150px;
  height: 55px;
  margin-top: 1px;
  margin-left: 5px;
  font-size: 32px;
  font-weight: 600;
}
