.navbar-brand img {
    width: 250px;
    height: 40px;
}

.nav-link {
    font-family: var(--font-family);
    color:  yellow!important;
    margin: 0 10px;
    margin-left: 45px;
    font-size: 20px;
}

.navbar-nav {
    margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .nav-link {
        margin-left: 10px;
        font-size: 20px;
    }
  }